@tailwind base;
@tailwind components;
@tailwind utilities;



.tour-bg{
  background-image: url('../public/contact-us/bg_5.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.homebg1{
  background-image: url('../public/homeBanner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.homebg2 {
  position: relative;
  z-index: 1;
}

.homebg2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../public/homeBg2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6; 
  z-index: -1;
}

.feature-card {
  text-align: center;
  padding: 1rem;
}

.feature-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.feature-card h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.feature-card p {
  font-size: 1rem;
  color: #555;
}
